* {
    padding: 0;
    margin: 0;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 100px;
}

.sidenav p {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 0;
    padding: 12.5px 6px 20px 75px;
}

.sidenav .logo {
    font-size: 30px;
    color: white;
    position: absolute;
    top: 0;
    padding: 10px 6px 20px 30px;
    width: 40px;
}

.sidenav a {
    padding: 6px 6px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
}
  
.sidenav a:hover {
    color: #818181;
}

svg {
    padding-right: 20px;
    width: 25px;
    fill: white;
}

#header {
    width: 1fr;
    height: 11em;
    background-color: white;
    margin-left: 300px;
    box-shadow: 0 1.5px 0 0 rgb(128, 128, 128, 0.7),
                0 2.5px 0 0 rgb(128, 128, 128, 0.5),
                0 4px 0 0 rgb(128, 128, 128, 0.5);
}

.user-avatar {
    border-radius: 50%;
}

.small {
    width: 50px;
}

.medium {
    width: 75px;
}

#search-bar-and-user, 
#buttons-and-user {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    grid-template-rows: 1fr;
    padding: 10px 5em 10px 5em;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.grid-item-left {
    justify-self: end;
}

.space {
    padding-left: 10em;
}

.icon {
    fill: black;
}

#search {
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e4e3e3;
    border-color: white;
    border: none;
}

.user {
    font-size: 18px;
}

.username {
    font-size: 24px;
}

.user,
.username,
.welcome-text {
    font-weight: bold;
}

button {
    width: 7em;
    height: 2.4em;
    border-radius: 25px;
    border: none;
    background-color: rgb(0, 209, 236);
    margin-left: 20px;
}